body {
  font-family: monospace;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-block-size: 100vh;
}

.board {
  min-inline-size: 50vw;
  min-block-size: 50vh;
  background: #999;
  border: 10px solid #222;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.square {
  border: 1px solid black;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  cursor: pointer;
  min-block-size: 200px;
}

.square:hover {
  border: 1px solid red;
  background: #ddd;
}

.alert {
  width: 100vw;
  height: 100vh;
  background: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  text-transform: uppercase;
  position: fixed;

}

h1 {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}
